<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.curonsys.android_java">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBtR7evZwmqKa955ABOMUVL64rwnixe_PA"/>
<!--        android:value="AIzaSyB-kiliIyH5emSDUB_4tcycMMp32a03kgM"/>
            android:value="AIzaSyA_U_GAcVQpTOyvN6jnlj6DUgopfNgtvPs"-->

        <activity
            android:name="com.curonsys.android_java.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity

            android:name="com.curonsys.android_java.activity.MarkerGenerationActivity"
            android:screenOrientation="portrait"/>
        <activity

            android:name="com.curonsys.android_java.activity.GeneralARActivity"
            android:screenOrientation="portrait"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.curonsys.android_java"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.curonsys.android_java.activity.MarkerTestActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".camera2basic.CameraActivity"/>


        <service
            android:name=".service.FetchAddressIntentService"
            android:exported="false" />

        <service android:name=".service.GeofenceTransitionsIntentService" />


    </application>

</manifest>